img {
    text-align: center;
    width: 500px;
    height: px;
    
}

body {
    background-color: rgb(68, 136, 224);
    background-repeat: no-repeat;
    text-align: center;
    border: 1px;
    border-radius: 50px;
}

h2, h3 {
    text-align: center;
    color: aliceblue;
    margin: auto;
    border: 1px;
    border-radius: 5px;
}

.box1 {
    background-color: white;
    padding: 22px;
    border: 22px;
    margin: auto;
}

table {
background-color: aliceblue;
margin: auto;
border: 1px;
}

th {
    background-color: ;
}